<div class="container">
  <h2>RESUME</h2>
  <div class="card-container">
    <ul class="list-group">
      <li *ngFor="let user of user" class="list-group-item">
        <h3>{{user.name}}</h3>
        <br/>
        <span style="font-size: large">Mobile Number- </span><br/>{{user.mobile_number}}
        <br/>
        <span style="font-size: large">Email- </span><br/>{{user.email}}
        <br/>
        <span style="font-size: large">Address- </span><br/>{{user.address}}
        <br/>
        <br/>
        <span style="font-size: large">Bio- </span><br/>{{user.bio}}
        <br/>
        <br/>
        <span style="font-size: large">Hobbies- </span><br/>{{user.hobbies}}
        <br/>
        <br/>
        <span style="font-size: large">Skills- </span><br/>{{user.skills}}
        <br/>
        <br/>
        <span style="font-size: large">Education- </span><br/>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Sl No.</th>
            <th>Course</th>
            <th>Course Type</th>
            <th>Institute</th>
            <th>Percentage</th>
            <th>Years</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let edu of edu">
            <td>{{ edu.id }}</td>
            <td>{{ edu.course }}</td>
            <td>{{ edu.course_type }}</td>
            <td>{{ edu.institute }}</td>
            <td>{{ edu.percentage }}</td>
            <td>{{ edu.years }}</td>
          </tr>
          </tbody>
        </table>
        <br/>
        <br/>
        <span style="font-size: large">Projects- </span><br/>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Sl No.</th>
            <th>Description</th>
            <th>Resources</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let proj of proj">
            <td>{{ proj.id }}</td>
            <td>{{ proj.description }}</td>
            <td>{{ proj.resources }}</td>
          </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>
